#visite {
  background-image: url(assets/devantamphi.png);
}

#bouton1-image:hover,
#bouton2-image:hover {
  transform: scale(1.1);
}

#bouton1,
#bouton1-image,
#bouton2,
#bouton2-image {
  height: 100px;
  width: 100px;
}

#bouton1 {
  top: 300px;
  left: 220px;
}

#bouton2 {
  top: 300px;
  right: 220px;
}

.shake-animation {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#linus,
#olympe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.image-perso {
  height: 350px;
  border-radius: 15px;
  box-shadow: 0 0 20px 5px #a7a7a7;
}

#linus-img {
  margin-left: 10px;
}

#olympe-img {
  margin-right: 10px;
}

#info {
  width: 70%;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

#salleferme {
  position: absolute;
  top: 0;
  left: 35%;
  display: none;
  animation: slideDown 0.5s ease-out;
  background-color: #fff;
  font-size: 30px;
  border-radius: 55px;
  box-shadow: 0 0 20px 5px #a7a7a79a;
  padding: 15px;
}

#salleencoreferme {
  position: absolute;
  top: 0;
  left: 43%;
}

.texteanim {
  display: none;
  animation: slideDown 0.5s ease-out;
  background-color: #fff;
  font-size: 30px;
  border-radius: 55px;
  box-shadow: 0 0 20px 5px #a7a7a79a;
  padding: 15px;
}
