#visite {
  background-image: url(assets/devantamphi2.png);
}

#bouton1-image:hover,
#bouton2-image:hover,
#bouton3-image:hover {
  transform: scale(1.1);
}

#bouton1 {
  top: 350px;
  left: 280px;
}

#bouton2 {
  top: 350px;
  right: 300px;
}

#bouton3 {
  top: 400px;
  left: 550px;
  rotate: 90deg;
  transform: rotateY(65deg);
}
