#visite {
  background-image: url(assets/batterie.png);
}

button {
  /* opacity: 0; */
  border: 6px solid red;
  background-color: transparent;
  position: absolute;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

#caisse1 {
  bottom: 45px;
  left: 360px;
  height: 210px;
  width: 200px;
  border-radius: 50%;
}

#caisse2 {
  bottom: 320px;
  left: 400px;
  height: 170px;
  width: 170px;
  border-radius: 50%;
}

#caisse3 {
  bottom: 360px;
  left: 615px;
  height: 170px;
  width: 170px;
  border-radius: 50%;
}

#caisse4 {
  bottom: 250px;
  left: 840px;
  height: 140px;
  width: 220px;
  border-radius: 50%;
  rotate: 10deg;
}

#cymbale1 {
  bottom: 235px;
  left: 50px;
  height: 200px;
  width: 250px;
  border-radius: 50%;
}

#cymbale2 {
  bottom: 475px;
  left: 70px;
  height: 250px;
  width: 280px;
  border-radius: 50%;
}

#cymbale3 {
  bottom: 490px;
  left: 870px;
  height: 180px;
  width: 220px;
  border-radius: 50%;
  rotate: 20deg;
}
