#visite {
  background-image: url(assets/ecranordi.png); /* TODO modifier avec photoshop le fond d'ordi */
}

#flexarea {
  position: absolute;
  top: 230px;
  left: 600px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
}

#flexarea a {
  border-radius: 5px;
  margin: 20px;
}

#flexarea a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#flexarea a img {
  height: 100px;
  width: 100px;
  margin: 20px;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}
