#visite {
  background-image: url(assets/hall90deg.png);
}

#bouton1 {
  bottom: 250px;
  left: 250px;
}

#bouton1-image:hover,
#bouton2-image:hover,
#bouton3-image:hover {
  transform: scale(1.1);
}

#bouton2 {
  right: 330px;
  bottom: 200px;
}

#bouton3 {
  left: 540px;
  bottom: 200px;
}
