#visite {
  background-image: url(assets/hall270deg.png);
}

#bouton1 {
  bottom: 340px;
  left: 210px;
}

#bouton2 {
  right: 200px;
  bottom: 270px;
  rotate: 45deg;
}

#bouton3 {
  right: 420px;
  bottom: 110px;
  rotate: 45deg;
  transform: rotateY(-55deg) rotateX(35deg) scale(1.3);
}

#bouton1-image:hover,
#bouton2-image:hover,
#bouton3-image:hover {
  transform: scale(1.1);
}
