#visite {
  background-image: url(assets/hall0deg.png);
}

#bouton1,
#bouton1image {
  bottom: 300px;
  left: 420px;
}

#bouton1-image:hover {
  transform: scale(1.1);
}

#bouton2-image:hover,
#bouton3-image:hover {
  transform: scale(1.1);
}

#bouton2,
#bouton2-image {
  top: 220px;
  right: 70px;
}

#bouton3,
#bouton3-image {
  bottom: 75px;
  left: 80px;
}
