#visite {
  background-image: url(assets/hall0deg.png);
}

#bouton1,
#bouton1image {
  bottom: 300px;
  left: 420px;
}

#bouton1-image {
  rotate: 45deg;
}

#bouton2,
#bouton2-image {
  top: 270px;
  right: 60px;
}

#bouton2-image {
  rotate: -60deg;
  transform: rotateX(45deg) rotateY(55deg) scale(1.3);
}

#bouton3,
#bouton3-image {
  bottom: 30px;
  left: 85px;
}

#bouton3-image {
  rotate: 50deg;
  transform: rotateX(55deg) rotateY(-45deg) scale(1.3);
}

#bouton1-image:hover,
#bouton3-image:hover {
  transform: scale(1.1);
}

#bouton2-image:hover {
  transform: rotateX(45deg) rotateY(55deg) scale(1.4);
}

#bouton3-image:hover {
  transform: rotateX(55deg) rotateY(-45deg) scale(1.4);
}
