#visite {
  background-image: url(assets/scene.png);
}

#bouton1 {
  top: 250px;
  left: 500px;
}

#bouton1-image:hover,
#bouton2-image:hover {
  transform: scale(1.1);
}

#bouton2 {
  right: 250px;
  top: 300px;
}
