#visite {
  background: linear-gradient(
    90deg,
    rgba(225, 234, 238, 1) 0%,
    rgba(191, 221, 244, 1) 100%
  );
}

.flexmoyenne {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#visite h3,
#visite p {
  visibility: hidden;
}

#visite h3 {
  font-size: 40px;
  font-weight: bold;
}

#note {
  font-weight: bold;
  font-size: 90px;
  margin: 10px 0;
}

#mot {
  font-size: 40px;
  text-align: center;
  height: 94px;
}

#visite button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(51, 153, 204, 1) 0%,
    rgba(31, 102, 153, 1) 100%
  );
  border: none;
  border-radius: 35px;
  font-size: 35px;
  color: white;
  padding: 10px 20px;
  transition: 0.2s ease-in-out;
}

#visite button:hover {
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1.1);
  box-shadow: 0 0 10px 5px #9999996c;
}
