/***************** Le texte explicatif de chaque salles et explication de la navigation *****************/

#info {
  width: 50%;
}

/********************************************************************************************************/

/***************** Le bouton permettant de rentrer *****************/

#bouton1 {
  bottom: 185px;
  right: 525px;
}

#bouton1-image:hover {
  transform: scale(1.1);
}

/********************************************************************/

/***************** L'image de navigation *****************/

#visite {
  background-image: url(assets/devanture.png);
}

/**********************************************************/
