body,
html {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e8e8e8;
  color: #252525;
}

h1 {
  text-align: center;
  font-size: 50px;
}

#visite {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 1280px;
  height: 720px;
  border-radius: 50px;
  box-shadow: 0 0 20px 5px #a7a7a7;
}

#boutonretour,
#boutonretour-image {
  bottom: 15px;
  left: 43%;
  height: 100px;
  width: 100px;
}

#boutonrotategauche,
#boutonrotategauche-image {
  top: 40%;
  left: 15px;
  height: 100px;
  width: 100px;
}

#boutonrotategauche-image:hover,
#boutonrotatedroit-image:hover,
#boutonretour-image:hover {
  transform: scale(1.1);
}

#boutonrotatedroit,
#boutonrotatedroit-image {
  top: 40%;
  right: 15px;
  height: 100px;
  width: 100px;
}

.bouton,
.bouton-image {
  position: absolute;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.bouton-image {
  border: 1px red solid; /* ! A supprimer au final */
  transition: 0.2s ease-in-out;
}

.boutoninfo {
  position: relative;
  text-decoration: none;
  color: #252525;
  border: 5px #252525 solid;
  padding: 10px;
  background-color: #fff;
  border-radius: 65px;
  top: 35px;
  left: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  letter-spacing: 1px;
}

.boutoninfo:hover {
  background-color: #252525;
  color: #fff;
  box-shadow: 2px 2px 30px #252525;
}

.boutoninfo:active {
  border-color: #fff;
  transition: all 0.1s linear;
}
