body,
html {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e8e8e8;
  color: #252525;
  font-family: "Rethink Sans", sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
}

p {
  font-family: "Poppins", sans-serif;
}

#visite {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 1280px;
  height: 720px;
  border-radius: 50px;
  box-shadow: 0 0 20px 5px #a7a7a7;
}

#boutonretour {
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 100px;
}

#boutonretour-image {
  transform: rotate(180deg);
  height: 100px;
  width: 100px;
}

#boutonrotategauche,
#boutonrotategauche-image {
  top: 40%;
  left: 15px;
  height: 100px;
  width: 100px;
}

#boutonrotategauche-image:hover,
#boutonrotatedroit-image:hover {
  transform: scale(1.1);
}

#boutonretour-image:hover {
  transform: rotate(180deg) scale(1.1);
}

#boutonrotatedroit,
#boutonrotatedroit-image {
  top: 40%;
  right: 15px;
  height: 100px;
  width: 100px;
}

.bouton,
.bouton-image {
  position: absolute;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.bouton-image {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

.bouton-image:hover {
  opacity: 1;
  box-shadow: 0 0 10px 5px #2b2b2b6c;
}

.boutoninfo {
  position: relative;
  text-decoration: none;
  color: #252525;
  border: 5px #252525 solid;
  padding: 10px;
  background-color: #fff;
  border-radius: 65px;
  top: 35px;
  left: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  letter-spacing: 1px;
}

.boutoninfo:hover {
  background-color: #252525;
  color: #fff;
  box-shadow: 2px 2px 30px #252525;
}

.boutoninfo:active {
  border-color: #fff;
  transition: all 0.1s linear;
}

#info {
  width: 50%;
}

.infoflex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.infoflex h2 {
  font-size: 50px;
}

.infoflex p {
  font-size: 35px;
}

#barre {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 5px;
  background-color: #252525;
  border-radius: 5px;
  margin-top: 25vh;
}

#icone-maison {
  position: absolute;
  top: 33.5px;
  left: 50px;
  height: 50px;
  width: 50px;
}

.reseaux {
  position: absolute;
  top: 33.5px;
  right: 20px;
}

.reseaux a {
  text-decoration: none;
  color: #252525;
}

.reseaux img {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  margin-left: 10px;
  transition: 0.2s ease-in-out;
}

.reseaux img:hover {
  transform: scale(1.1);
}
